*, *:after, *:before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*@font-face{
	font-family: 'ws-light';
	src: url('../fonts/weblysleekuil.ttf');
}*/

@font-face{
	font-family: 'ws-semi';
	src : url('../fonts/weblysleekuisl.ttf');
}

body{
	background: #262626;
		font-family: 'ws-semi';
	width: 100%;
	height: 100%;
}
a{
	display: block;
}

.navigate{
	position: fixed;
	top: 8%;
	right: 5%;
	z-index: 2;

}

.link-desc{
	position: relative;
	padding-left: 15%;
}

.nav, .nav2{
	position: relative;
	list-style-type: none; 
	display: block;

}

.nav2{
	
	margin: 15% 0;	padding-bottom: 175px;
}
.nav li a, .nav2 li a{
	color: #404040;
	text-align: center;
	display: block;
	text-decoration: none;
transition: color 0.1s linear;
font-size: 23pt;
	
}


.nav2 li a{
	color: #727272;
font-size: 01.5em;
	transition: all 0.1s linear;
	}
	.nav2 li a:hover{
		color: #f3f3f3;
	}
	.nav2 li a:hover span{
		color: #d3dc4e;
	}

.nav li, .nav2 li{
	display: block;
	float: left;
	margin-bottom: 20px;
}

.nav2 li:first-child{
	/*margin-left: 15%;*/
}

.nav li:not(:last-child)
{	padding-right: 45px;}

.nav2 li:not(:last-child){

	padding-right: 110px;
}



.nav li a:hover{
		color: #d3dc4e;
}

span[class^='icon-'].active
{
	color: #d3dc4e;
}

/*span[class^='icon-']:hover{
		color: #d3dc4e;
}*/


.intro{
	position: relative;
	margin-top: 14%;
}
.intro p{
	text-align: left;
	margin-left: 15%;
}

.primary{
	color: #f3f3f3;
	/*font-family: 'ws-semi';*/
	font-size: 30pt;
}

.secondary{
	color: #404040;
	/*font-family: 'ws-semi';*/
	font-size: 25pt;
	margin-top: 3%;
}
p.design{
	color: #727272;
}

.design-links{
	position: relative;
	margin-top: 12%;
}

.design-links .d-links{
	list-style-type: none;
	}
	.design-links .d-links li:first-child{
		float: left;
		padding-left: 275px;
		
	}

	.design-links .d-links li:last-child{
		float: right;
		padding-right: 275px;
	}

	.design-links .d-links a{
		display: block;
		color: #404040;
		text-decoration: none;
		font-size: 25pt;
		text-align: center;
		transition: all 0.2s;
	}

	.design-links .d-links a span{
		transition: all 0.2s;
		font-size: 28pt;
		color: #727272;
		transform: translateY(10px);
	}
	.design-links .d-links a:hover {
		color: #727272;
		/*text-shadow: 3px 3px 5px rgba(0,0,0,0.3);*/
	}
	
	.design-links .d-links .behance a:hover span{
			color: #2D9AD2;
	}
	.design-links .d-links .dribbble a:hover span{
			color: #EA4C89;
	}

	.contacts{
		position: relative;
		margin-top: 14%;
		
	}

	.contact-list{
		
	text-align: left;
	display: block;
font-size: 23pt;
	list-style-type: none;
	width: 70%;
	margin-left: 15%;
	}

	.contact-list li{
		margin-bottom: 20px;
		
	}

	.contact-list a{
		display: block;
			text-decoration: none;
			color: #727272;
			transition: all 0.1s linear;
	}

	.contact-list a:hover{
		color: #f3f3f3;
		transform : translateX(5px);
	}


	.contact-list a span{
		transition: all 0.1s linear;
		color: #404040;
	}

	.contact-list a:hover span{
		color: #d3dc4e;
	}

 ::-webkit-scrollbar
 {
	width: 10px;
 }
::-webkit-scrollbar-track{
		display: none;
}
 ::-webkit-scrollbar-thumb{

		background: #404040;
	border-radius: 8px;
 }

 .projects{
 	margin-top: 10%;
 	list-style-type: none;
 }

 .projects > li{
 	margin-left: 15%;
 	margin-bottom: 10%;
 }

 .projects section{
 	position: relative;
 	display: inline-block;
 }

 .block{
 	width: 300px;
 	height: 300px;
 	box-shadow: 5px 5px 30px 20px rgba(10,10,10,0.5);
 	transition: 0.2s;

 }

 .block:hover{
 	box-shadow: 15px 15px 30px 20px rgba(10,10,10,0.5);

 }
/*.block:after{
  content: '';
  position: absolute;
  width: 95%;
  height: 5%;
  background: rgba(10,10,10,0.5);
  display: block;
  top: 115%;
  -webkit-border-radius: 50%;
  box-shadow: 0 0 25px 5px rgba(10,10,10,0.8);
}*/

 .cube{
 	 position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

transform-style: preserve-3d;
  transform : rotateY(0deg) rotateX(-3deg) rotateZ(0deg);
  transition: 0.4s;
}

.cube:hover{
transform: rotateY(-5deg) rotateX(-3deg)  rotateZ(0deg);
}
.cube div{
    position: absolute;
  height: 100%;
  width: 100%;
 
  top: 0;
  left: 0;
   
}


.recorder .front{
	background: url("../images/recorder/1.jpg");
		background-position: center;
}
.eplayer .front{
	background: url("../images/eplayer/1.jpg");
		background-position: center;
		background-size: contain;
}
.sharencare .front{
	background: url("../images/sharencare/1.jpg");
		background-position: center;
}

.smdb .front{
	background: url("../images/smdb/1.jpg");
		background-position: center;
}
.pingpong .front{
	background: url("../images/pingpong/1.jpg");
		background-position: center;
}

.graphx .front{
	background: url("../images/graphx/1.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

}

.bitotsav .front{
	background: url("../images/bitotsav/1.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

}

.vertechx .front{
	background: url("../images/vertechx/1.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

}
.front{
	background-position: center;

	transform: rotateY(0deg) translateZ(150px);
}




.right{
	
	background:#d3dc4e;
transform: rotateY(90deg) translateZ(150px) ;
}


.top{
  background: #404040;
transform: rotateX(90deg) translateZ(150px);
}
.text{
	position: absolute;
	top: 0px;
	width: 50%;
	margin-left:10%;
	padding-left: 5%;
	border-left: 2px solid #404040;
	transform: translateY(-30%);
	
}
.text .title{
	font-size: 23pt;
	color: #f3f3f3;
	margin-bottom: 5%;
}

.desc{
	font-size: 15pt;
	color: #727272;
	margin-bottom: 5%;
}

.text a{
	font-size: 15pt;
	display: block;
	text-decoration: none;
	color: #727272;
	transition: 0.2s;
}

.live{
	margin-bottom: 2%;

}

.text a:hover{
		color: #f3f3f3;
	}


	.text a:hover span{
		color: #d3dc4e;
	}

