*, *:after, *:before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: #0C0C0C;
	color : #F3F3F3;
	font-family: sans-serif;
	height: 100vh;
}

.intro{
	position: relative;
	width: 35vw;
		display: block;
	top:50%;
	left: 50%;
	margin-top: -24vh;
	margin-left: -15vh;
	padding-left: 20px;
	border-left: 15px solid #F3F3F3;

}

.intro p{
	width: 100%;
	font-size: 5em;
	line-height: 85px;
	font-weight: bolder;
}