@import '../sass-exports/variables';
@import '../sass-exports/utils';

.content-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary-color;

    & > div { flex: 1 };

    .content-toggle-button {
        cursor: pointer;
        @include animate(color);
    }

    .content-toggle-divider {
        order: 2;
        height: 1px;
        width: hGrid(2);
        background-color: $secondary-color;

        .content-toggle-shifter {
            position: relative;
            height: 100%;
            width: 50%;
            background-color: $highlight-color;
            @include animate(left);
            left: 0;
        }
    }

    &.about-active {
        .content-toggle-shifter {
            left: 50%;
        }

        #about {
            color: $highlight-color;
        }
    }

    &.work-active {
        #work {
            color: $highlight-color;
        }
    }

    #about {
        text-align: right;
        order: 3;
        &:hover {
            color: $highlight-color;
        }
    }

    #work {
        order: 1;
        &:hover {
            color: $highlight-color;
        }
    }
}

.App.dark {
    .content-toggle {
        color: $dark-secondary-color;
    }
}