a.my-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

a.my-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 4px;
  background-color: orangered;
  transition: width 0.2s ease-in-out;
}

a.my-link:hover::after {
  width: 100%;
}