.App.dark {
    background-color: $primary-color;
    color: $dark-primary-color;
  
    a {
      color: $dark-primary-color;
    }
  
    .project-details {
      background-color: $primary-color;
    }

    div.grid-lines {
        background: $dark-grid-color;
      }

      .right-grid {
        footer {
          background-color: $dark-grid-color;
          a {
            color: $secondary-color;
          }
        }
      }
  }