$mobile-vertical-spacing: vGrid(0.7);
$mobile-horizontal-spacing: hGrid(1.1);

/* Portrait */
@media only screen  
  and (max-width: 800px)
  and (orientation: portrait) {
    body, html {
      font-size: 16px;
      line-height: 1.3em;
    }

    .App {
      flex-direction: column;
      padding: $mobile-vertical-spacing $mobile-horizontal-spacing;

      .left-grid {
        position: relative;
        flex: 1 100%;
        width: 100%;
        justify-content: space-between;

        .left-grid-1 {
          flex: initial;
          margin-bottom: $mobile-vertical-spacing;

          #resume-top {
            display: inherit;
          }
        }

        .grid-lines {
            display: none;
        }

        .left-grid-2 {
          justify-content: space-evenly;
          flex: initial;

          .left-grid-2-2 {
            margin: $mobile-vertical-spacing 0;
          }
        }
      }

      .right-grid {
        padding: 0;
        min-height: auto;

        .right-grid-1 {
          flex: initial;
          margin-bottom: $mobile-vertical-spacing;
        }

        footer {
          left: -$mobile-horizontal-spacing;
          bottom: -$mobile-vertical-spacing;
        }
      }

      #resume-bottom {
        display: none;
      }
    }
}

@media only screen  
  and (max-height: 400px)
  and (orientation: landscape) {
    .App {
        .left-grid {
            position: absolute;
            min-height: 350px;
        }
    }
}